body { 
	font-family: 'Oxygen';
}

.nav-bar {
	background-color: #000060;
}

.nav-links {
    font-size: 20pt;
	margin-left: 10%;
}

.nav-links a {
	text-decoration: none;
	color: white;
}

.nav-links a:visited {
	text-decoration: none;
	color: white;
}

.nav-links a:hover {
	text-decoration: none;
	color: gray;
}

.title {
	font-size: 20pt;
	text-align: center;
}

.info {
	text-align: center;
	font-size: 20pt;
	color: black; 
}

.info img {
	max-width: 50%;
	height: auto;
}

.jakepic {
	width: 50%;
	float: left;
}

.jakedesc {
	margin-left: 50%;
}

.info a {
	text-decoration: none;
	color: #0c008f;
}

.info a:visited {
	text-decoration: none;
	color: #0c008f;
}

.info a:hover {
	text-decoration: none;
	color: gray;
}

.refs {
    text-align: center;
	font-size: 14pt;
}

.refs a {
	color: #0c008f;
	text-decoration: none;
}

.refs a:visited {
	color: #0c008f;
	text-decoration: none;
}

.refs a:hover {
	color: gray;
	text-decoration: none;
}

@media only screen and (max-width: 620px) {
	.info img {
		max-width: 100%;
		height: auto;
	}
	.jakepic {
		width: 100%;
		float: none;
	}
	.jakedesc {
		margin-left: 0%;
	{
	.refs {
		text-align: center;
	}
}

