html {
	font-family: 'Oxygen';
	background-color: #282840;
}

.page-wrapper {
	color: white;
}

.nav-bar {
	background-color: #000060;
	margin-left: calc(50% - 50vw);
	width: 100vw;
}

.nav-links {
	font-size: 20pt;
	margin-left: 10%;
}

a {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: gray;
}

.title {
	font-size: 20pt;
	text-align: center;
}

.main {
	width: 100%;
	overflow: hidden;
}

.new-entry {
	margin-left: 10%;
	margin-right: 10%;
	float: left;
	width: 60%;
}

.entry-info h1 {
	font-size: 20pt;
}

.entry-info h2 {
	font-size: 18pt;
}

.entry-info h3 {
	font-size: 14pt;
}
.entry-info a {
	text-decoration: none;
	color: #2689cc;
}

.entry-info a:visited {
	text-decoration: none;
	color: #2689cc;
}

.entry-info a:hover {
	text-decoration: none;
	color: gray;
}

.entry {
	font-size: 16pt;
	text-indent: 2em;
}

.pre-next {
	text-align: center;
	font-size: 16pt;
}

.pre-next a {
	text-decoration: none;
	color: #2689cc;
}

.pre-next a:visited {
	text-decoration: none;
	color: #2689cc;
}

.pre-next a:hover {
	text-decoration: none;
	color: gray;
}

.entry-select {
	font-size: 16pt;
}

.entry-select-title {
	text-align: center;
}

@media only screen and (max-width: 620px) {
	.new-entry {
		width: 80%;
		float: none;
	}
	.pre-next {
		font-size: 14pt;
	}
	.entry-select-list {
		text-align: center;
	}
}

