html {
	font-family: 'Oxygen';
	background-color: #282840;
}

.page-wrapper {
	color: white;
}

.nav-bar {
	background-color: #000060;
	margin-left: calc(50% - 50vw);
	width: 100vw;
}

.nav-links {
	font-size: 20pt;
	margin-left: 10%;
}

a {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: gray;
}

.title {
	font-size: 20pt;
	text-align: center;
}

.new-entry {
	margin-left: 10%;
	margin-right: 10%;
}

.entry-info h1 {
	font-size: 20pt;
}

.entry-info h2 {
	font-size: 18pt;
}

.entry {
	font-size: 16pt;
	text-indent: 2em;
}

