body {
	font-family: 'Oxygen';
}

.nav-bar {
	background-color: #000060;
}

.nav-links {
	font-size: 20pt;
	margin-left: 10%;
}

a {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: gray;
}

.entry-title {
	margin-left: 10%;
	font-size: 14pt;
}

