html {
	font-family: 'Oxygen';
	background-color: #282840;
}

.page-wrapper {
	color: white;
}

.nav-bar {
	background-color: #000060;
	margin-left: calc(50% - 50vw);
	width: 100vw;
}

.nav-links {
	font-size: 20pt;
	margin-left: 10%;
}

.nav-links a {
	text-decoration: none;
	color: white;
}

.nav-links a:visited {
	text-decoration: none;
	color: white;
}

.nav-links a:hover {
	text-decoration: none;
	color: gray;
}

.title {
	font-size: 20pt;
	text-align: center;
}

.title a {
	text-decoration: none;
	color: white;
}

.title a:visited {
	text-decoration: none;
	color: white;
}

.title a:hover {
	text-decoration: none;
	color: gray;
}

.main {
	width: 100%;
	overflow: hidden;
}

.entry-list-wrapper {
	margin-left: 10%;
	margin-right: 10%;
	float: left;
	width: 60%;
}

.entry-list a {
	text-decoration: none;
	color: white;
}

.entry-list a:visited {
	text-decoration: none;
	color: white;
}

.entry-list a:hover {
	text-decoration: none;
	color: gray;
}

.entry-list h1 {
	font-size: 20pt;
}

.entry-list h2 {
	font-size: 18pt;
}

.entry-list h3 {
	font-size: 14pt;
}

.entry-select {
	font-size: 16pt;
}

