html {
	background-color: #282840;
	font-family: 'Oxygen';
}

.page-wrapper {
	color: white;
}

.nav-bar {
	background-color: #000060;
	margin-left: calc(50% - 50vw);
	width: 100vw;
}

.nav-links {
	font-size: 20pt;
	margin-left: 10%;
}

a {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: gray;
}

.title {
	font-size: 20pt;
	text-align: center;
}

.main {
	text-align: center;
}


