body {
	font-family: 'Oxygen';
}

.nav-bar {
	background-color: #000060;
}

.nav-links {
	font-size: 20pt;
	margin-left: 10%;
}

a {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: gray;
}

.title {
	font-size: 24pt;
	text-align: center;
}

.portfolio {
	text-align: center;
}

.money {
	color: green;
	font-size: 24pt;
}

#BTC {
	font-size: 22pt;
	color: gold;
}

#ETH {
	font-size: 20pt;
	color: #00008b;
}

#LINK {
	font-size: 18pt;
	color: blue;
}

