html {
	font-family: 'Oxygen';
	background-color: #282840;
}

.nav-bar {
	background-color: #000060;
	margin-left: calc(50% - 50vw);
	width: 100vw;
}

.nav-links {
	font-size: 20pt;
	margin-left: 10%;
}

a {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: gray;
}

.title {
	font-size: 20pt;
	text-align: center;
}

.page-wrapper {
	background-color: #282840;
	color: white;
}

.portfolio {
	text-align: center;
}

.crypto {
	font-size: 18pt;
}

#crypto-money {
	color: green;
	font-size: 24pt;
}

#BTC {
	font-size: 22pt;
	color: gold;
}

#ETH {
	font-size: 22pt;
	color: #00008b;
}

#LINK {
	font-size: 22pt;
	color: #2689cc;
}

.stocks {
	font-size: 18pt;
}

